:root, [data-amplify-authenticator] {
    /* --amplify-components-authenticator-router-background-color:	var(--amplify-colors-background-primary) */
    --amplify-colors-background-primary: var(--amplify-colors-orange-90);
    --amplify-colors-background-secondary: var(--amplify-colors-orange-100);
    --amplify-colors-brand-primary-10: var(--amplify-colors-orange-100);
    --amplify-colors-brand-primary-80: var(--amplify-colors-orange-40);
    --amplify-colors-brand-primary-90: var(--amplify-colors-orange-20);
    --amplify-colors-brand-primary-100: var(--amplify-colors-orange-10);
    --amplify-colors-font-interactive: var(--amplify-colors-orange);
    --amplify-components-tabs-item-active-color: var(--amplify-colors-orange);
    --amplify-components-tabs-item-focus-color: var(--amplify-colors-orange);
    --amplify-components-tabs-item-hover-color: var(--amplify-colors-orange);
}