:root,
[data-amplify-authenticator] {
  --amplify-components-button-border-radius: 150px ; /*signin button*/
  --amplify-components-badge-border-radius: 150px ; /*sign in with gooogle */
  --amplify-components-fieldcontrol-border-radius: 150px ; /*value has to be the same as autocomplete-menu */
}

[data-amplify-router]{
  border-radius: 0 0 15px 15px;
}
